*{
    margin: 0;
    padding: 0;  
}
body{
    background-color: rgb(232, 230, 253); 
    color: rgb(29, 18, 18); 
    border-color: greenyellow; 
        
}
#Foto{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 10%;
} 
#Topo{
    text-align: center; 
    font-family: 'Rowdies', cursive;
}
#Descri{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: palevioletred;
    border-radius: 25%;
}
.cabe{
    background-color: rgb(4, 94, 26);
    color: white;
    text-align: center;
    width: auto;
}