@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  overflow: hidden;
}

.background div {
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 60;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.gradient-true {
  background: radial-gradient(circle, #bb01a2 15%, rgba(255, 0, 0, 0) 73%);
}

.gradient-false {
  background: radial-gradient(circle, #640157 12%, rgba(255, 0, 0, 0) 60%);
}
